.title {
    color: green;
}

header {
    text-align: center;
}

body {
    background-color: #edeae7;
}

.header-image {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    pointer-events: none;
    position: relative;
    z-index: 1;
}

.header-banner {
    position: relative;
    z-index: 2;
}

.header-buttons {
    background-color: #edeae7;
    color: black;
    padding: 15px 10px;
    border: none;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; 
}

.active-button{
    background-color: #edeae7;
    color: black;
    border: none;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; 
    border-bottom: 1px solid black;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.separator {
    color: black;
    font-size: 45px;
    margin: 0 10px;
}

.vertical-separator {
    width: 800px;
    margin: 0 auto 20px auto;
    height: 1px;
    background-color: black;
}

order-of-the-day{
    display: block;
    text-align: left;
    padding-left: 725px;
    font-family: 'Cinzel', serif;
    font-size: 25px;
}

h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 45px;
    margin: 25px auto 5px auto;
}

h2{
    text-align: left;
    padding-left: 550px;
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

h3{ text-align: left;
    padding-left: 550px;
    font-size: 20px;
}